{% extends 'base.html' %}

{% block content %}

<h2>VERSION 1.0.0</h2>
 	<hr>
	<h2>We are just a bunch of Enthusiastic people,who wants to help The Society.</h2>
	<hr>
 	<h2>Our Creator Team:</h2>
 	<hr>
 	<ul class="td">
		<li>Naga Deepak Bhushan P 
</li>
		<li>U. Dharma Teja</li>
		<li>A.M Samara Simha Reddy 
</li>
 		<li>Tejas M
</li>
		<li>S. Sujay
</li>	
		<li>Priyansh Agarwal
</li>
  	</ul>
	<hr>
	<p class="td">Thank you, For visiting our website</p>
{% endblock %}
